<h1>投稿編集ページ</h1>
<%= link_to '戻る', :back %>

<%= form_with(model: @plan, local: true) do |f| %>
      <div>
      画像
      <%= f.file_field :image %>
      タイトル
      <%= f.text_field :title, placeholder: "タイトル" %>
      コンセプト
      <%= f.text_area  :concept, placeholder: "コンセプト" , rows: "10"%>
      用意する物
      <%= f.text_field :item, placeholder: "用意する物" %>
      工程
      <%= f.text_area  :process, placeholder: "決まりごと（工程）", rows: "10" %>
      費用
      <span>¥</span> <%= f.text_field :cost, placeholder: "費用"%>
      所用時間
      <%= f.collection_select(:time_id, Time.all, :id, :name, {prompt: "時間帯を選択してください"}) %>
      場所
      <%= f.radio_button :place, "室内" %>屋内 <%= f.radio_button :place, "屋外" %>屋外
      時間帯
      <%= f.collection_select(:timezone_id, Timezone.all, :id, :name, {prompt: "時間帯を選択してください"}) %>
      季節
      <%= f.collection_select(:season_id, Season.all, :id, :name,{prompt: "季節を選択してください"}) %>
      カテゴリー
      <%= f.collection_select(:category_id, Category.all, :id, :name,{prompt: "カテゴリーを選択してください"}) %>
      </div>    
      <%= f.submit "投稿する" %>
<%end%>