<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      The most important thing is to enjoy your life – to be happy – 
    </h2>
    <p>
    <div class='service-explain'>
        人生の主役はわたし。ー悲劇も喜劇もぜんぶお手製ー<br>
        物語のシナリオは自分の手で作っていけばいい。
    </div>
    </p>
  </div>  
  <div class = search_box>
    <%= render 'search_form' %>
  </div>
  <div class="inner">
  <div class ="plan-contents">
    <ul class='plan-lists'>
      <% @plans.each do |plan| %>
        <li class='list'>
          <%= link_to plan_path(plan) do %>
            <div class='plan-img-content'>
            <p><%= image_tag plan.image, class: "plan-img" %></p>
          <%end%> 
             <div class="plan-sentence">
               <p>作成者名：<%= plan.user.name %></p>          
               <p class="b-break">プラン名：<%= plan.title %></p>
               <p>所要時間：<i class="fa fa-clock-o"></i><%= plan.selecttime.name%></p>
               <p>費用：<%=  number_to_currency(plan.cost, unit: "円", strip_insignificant_zeros: true) %></p>
               <p>カテゴリー：<%= plan.category.name%></p> 
             </div>
            <p>           
            <% if user_signed_in? %>
              <% if plan.bookmarked_by?(current_user)%>
                 <%= link_to plan_bookmarks_path(plan_id: plan.id), method: :delete do %>
                 <i class="fa fa-heart " style="color: red;" aria-hidden="true"></i>              
                 <%end%>
              <% else %>
                 <%= link_to plan_bookmarks_path(plan_id: plan.id), method: :post do %>
                 <i class="fa fa-heart-o " style="color: red;"></i> 
                 <%end%>
              <% end %>
            <% end %>  
           </p>
          </li>
      <%end%> 
    </ul>
  </div>
</div>
</div>

<%= render "shared/footer" %>