<%= render "shared/header" %>

 <div class ="container">
 <% if @plans.present? %>
   <% @plans.each do |plan| %>
    <%= link_to plan_path(plan) do %>
     <!-- 投稿したユーザー名情報を出力する -->
     <%= plan.user.name %>
     <!-- 投稿したメッセージ内容を記述する -->
     <%= plan.title %>
       <!-- 投稿したプランの詳細を出力する -->
      <%= plan.cost %>
     <%= image_tag plan.image.variant(resize: '500x500') %>
    <%end%>
    <%end%>
  <% else %>
      <div class= 'not_find'>
        <p>一致する商品がありません。条件を変えて検索してみよう！</p>
      </div>
  <%end%>
</div><%= render "shared/footer" %>



