<h1>検索結果</h1>

 <div>
   <% @plans.each do |plan| %>
    <%= link_to plan_path(plan) do %>
     <!-- 投稿したユーザー名情報を出力する -->
     <%= plan.user.name %>
     <!-- 投稿したメッセージ内容を記述する -->
     <%= plan.title %>
       <!-- 投稿したプランの詳細を出力する -->
      <%= plan.cost %>
     <%= image_tag plan.image.variant(resize: '500x500') %>
    <%end%>
  <%end%>
