<%= render "shared/header" %>

<div class="plan-show">
 <div class='item-img-content'>
  <%= image_tag @plan.image, class:"item-box-img"%>
 </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <tr>
          <th class="detail-plan">タイトル</th>
          <td class="detail-value"><%= @plan.title%></td>
        </tr>      
        <tr>
          <th class="detail-plan">コンセプト</th>
          <td class="detail-value"><%= @plan.concept%></td>
        </tr>
        <tr>
          <th class="detail-plan">用意するもの</th>
          <td class="detail-value"><%= @plan.item%></td>
        </tr>
        <tr>
          <th class="detail-plan">手順</th>
          <td class="detail-value"><%= @plan.process%></td>
        </tr>
        <tr>
          <th class="detail-plan">カテゴリー</th>
          <td class="detail-value"><%= @plan.category.name%></td>
        </tr>
        <tr>
          <th class="detail-plan">所要時間</th>
          <td class="detail-value"><%= @plan.selecttime .name%></td>
        </tr>
        <tr>
          <th class="detail-plan">場所</th>
          <td class="detail-value"><%= @plan.place%></td>
        </tr>
        <tr>
          <th class="detail-plan">季節</th>
          <td class="detail-value"><%= @plan.season.name%></td>
        </tr>
        <tr>
          <th class="detail-plan"></th>
          <td class="detail-value">
          <% if user_signed_in? %>
          <% if current_user.id == @plan.user_id %>
          <i class="fa fa-edit"></i>
          <%= link_to "編集する", edit_plan_path(@plan.id), method: :get  %> /
          <i class="fa fa-trash-o"></i>
          <%= link_to "削除する", plan_path(@plan.id), method: :delete %>
          <%end%>
          <%end%>
          </td>
        </tr>
      </tr> 
    </tbody>
  </table>
</div>

<%= render "shared/footer" %>
